<!DOCTYPE html>
<html lang="en" data-ng-app="nbaApp">
<head>
  <meta charset="UTF-8">
  <title>AngularJS Directives and Data Binding</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/style.css" media="all">
</head>

<body>
  <div data-ng-controller= "playerController">
    <p>Name:</p>
    <br />
    <input type= "text" data-ng-model="nameText" /> {{ nameText }}
    <br />
    <table>
      <tr data-ng-repeat="player in nbaPlayers | filter:nameText | orderBy:'name'">
      <td>{{ player.name }} </td>
      <td>{{ player.team | uppercase }} </td>
      </tr>
    </table>
  </div>



  <script src="js/angular.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
</body>
</html>